* {
    margin: 0;
    padding: 0;
}
body {
 background: red;
 margin: 0 auto;
 width: 1024px;   
}
header {
    display: block;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
    padding-top: 10px;
}

img {
    width: 400px;
    height: 250px;
}

article {
    margin-top: 20px;
}
